/* body {
    padding-top: 80px;
} */

.section {
    padding-top: 20px;
}

#arxiv {
    border-style: solid;
    border-width: 1px;
}

.nav-item a {
    color: white;
}

.nav-item a:hover, a:focus {
    color: white;
    text-decoration: underline;
}
