/* body {
    padding-top: 80px;
} */

.section {
    padding-top: 80px;
}

#arxiv {
    border-style: solid;
    border-width: 1px;
}

/* a {
    color: #3498db;
}

a:hover, a:focus {
    color: #3498db;
    text-decoration: underline;
} */